body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f5f9;
}

.container {
    display: flex;
    height: 100vh;
}

/* Left */
.left {
    width: 30%;
    background: #111827;
    color: white;
    padding: 30px;
}

.left h2 {
    margin-bottom: 20px;
}

.left input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

.left button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.left button:hover {
    background: #1d4ed8;
}

/* Center */
.center {
    width: 70%;
    padding: 40px;
}

#output {
    background: white;
    padding: 25px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
